<span class="badge">1 de 5</span>
<h4 class="text-uppercase">Simule seus investimentos</h4>

<p class="lead col-md-9 col-centered">
  Qual seu próximo objetivo?
</p>

<div class="rico-icons objective-buttons">
    <a href="#/valor-objetivo" class="btn btn-default btn-flux">
			<span class="ri-sack"></span><br>Acumular patrimônio
		</a>
    <a href="#/valor-objetivo" class="btn btn-default btn-flux">
			<span class="ri-holidays"></span><br>Garantir minha aposentadoria
		</a>
    <a href="#/valor-objetivo" class="btn btn-default btn-flux">
			<span class="ri-car"></span><br>Comprar um carro
		</a>
    <a href="#/valor-objetivo" class="btn btn-default btn-flux">
			<span class="ri-home"></span><br>Comprar um imóvel
		</a>
    <a href="#/valor-objetivo" class="btn btn-default btn-flux">
			<span class="ri-stroller"></span><br>Ter filhos
		</a>
    <a href="#/valor-objetivo" class="btn btn-default btn-flux">
			<span class="ri-business-man"></span><br>Abrir um novo negócio
		</a>
    <a href="#/valor-objetivo" class="btn btn-default btn-flux">
			<span class="ri-aircraft"></span><br>Viagem
		</a>
</div>
