<span class="badge">4 de 5</span>
<h4 class="text-uppercase">Simule seus investimentos</h4>

<p class="lead col-md-9 col-centered">
  Quanto pretende investir mensalmente?
</p>
<h5 class="text-uppercase">valor</h5>

<form class="form-inline">
  <div class="form-group">
    <label class="sr-only" for="InputAmount">Valor (em reais)</label>
    <div class="input-group value">
      <div class="input-group-addon text-right">R$</div>
      <input type="text" class="form-control" id="InputAmount" placeholder="0,00">
    </div>
  </div>
</form>

<p class="col-md-2 col-centered">
  <a href="#/tempo" class="btn btn-default btn-flux btn-block">Continuar</a>
</p>
