<span class="badge">5 de 5</span>
<h4 class="text-uppercase">Simule seus investimentos</h4>

<p class="lead col-md-9 col-centered">
  Em quanto tempo deseja atingir seu objetivo?
</p>
<h5 class="text-uppercase">valor</h5>

<form class="form-inline">
  <div class="form-group">
    <label class="sr-only" for="InputAmount">Valor (em reais)</label>
    <div class="input-group time">
      <input type="text" class="form-control text-right" id="InputAmount" placeholder="" value="2">
      <div class="input-group-addon text-left">anos</div>
    </div>
  </div>
</form>

<p class="col-md-2 col-centered">
  <a href="#/resultado" class="btn btn-default btn-flux btn-block">Continuar</a>
</p>
